.App {
  background-color: black;
  display: flex;
  height: 468px;
  width: 100%;
}

@media (min-width: 744px) {
  .App {
    height: 500px;
  }
}

@media (min-width: 1128px) {
  .App {
    height: 590px;
  }
}